<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/xhtml;charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta name="generator" content="Doxygen 1.8.13"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Hardware Abstraction Layer for FreeRTOS: driver/include/kconfig.h File Reference</title>
<link href="tabs.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="dynsections.js"></script>
<link href="navtree.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="resize.js"></script>
<script type="text/javascript" src="navtreedata.js"></script>
<script type="text/javascript" src="navtree.js"></script>
<script type="text/javascript">
  $(document).ready(initResizable);
</script>
<link href="search/search.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="search/searchdata.js"></script>
<script type="text/javascript" src="search/search.js"></script>
<link href="doxygen.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="top"><!-- do not remove this div, it is closed by doxygen! -->
<div id="titlearea">
<table cellspacing="0" cellpadding="0">
 <tbody>
 <tr style="height: 56px;">
  <td id="projectalign" style="padding-left: 0.5em;">
   <div id="projectname">Hardware Abstraction Layer for FreeRTOS
   </div>
  </td>
 </tr>
 </tbody>
</table>
</div>
<!-- end header part -->
<!-- Generated by Doxygen 1.8.13 -->
<script type="text/javascript">
var searchBox = new SearchBox("searchBox", "search",false,'Search');
</script>
<script type="text/javascript" src="menudata.js"></script>
<script type="text/javascript" src="menu.js"></script>
<script type="text/javascript">
$(function() {
  initMenu('',true,false,'search.php','Search');
  $(document).ready(function() { init_search(); });
});
</script>
<div id="main-nav"></div>
</div><!-- top -->
<div id="side-nav" class="ui-resizable side-nav-resizable">
  <div id="nav-tree">
    <div id="nav-tree-contents">
      <div id="nav-sync" class="sync"></div>
    </div>
  </div>
  <div id="splitbar" style="-moz-user-select:none;" 
       class="ui-resizable-handle">
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){initNavTree('kconfig_8h.html','');});
</script>
<div id="doc-content">
<!-- window showing the filter options -->
<div id="MSearchSelectWindow"
     onmouseover="return searchBox.OnSearchSelectShow()"
     onmouseout="return searchBox.OnSearchSelectHide()"
     onkeydown="return searchBox.OnSearchSelectKey(event)">
</div>

<!-- iframe showing the search results (closed by default) -->
<div id="MSearchResultsWindow">
<iframe src="javascript:void(0)" frameborder="0" 
        name="MSearchResults" id="MSearchResults">
</iframe>
</div>

<div class="header">
  <div class="summary">
<a href="#define-members">Macros</a>  </div>
  <div class="headertitle">
<div class="title">kconfig.h File Reference</div>  </div>
</div><!--header-->
<div class="contents">
<div class="textblock"><code>#include &lt;generated/autoconf.h&gt;</code><br />
</div><div class="textblock"><div class="dynheader">
Include dependency graph for kconfig.h:</div>
<div class="dyncontent">
<div class="center"><img src="kconfig_8h__incl.png" border="0" usemap="#driver_2include_2kconfig_8h" alt=""/></div>
</div>
</div>
<p><a href="kconfig_8h_source.html">Go to the source code of this file.</a></p>
<table class="memberdecls">
<tr class="heading"><td colspan="2"><h2 class="groupheader"><a name="define-members"></a>
Macros</h2></td></tr>
<tr class="memitem:a9d9f9ac6e60dfd0b6396b83969ba8f38"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="kconfig_8h.html#a9d9f9ac6e60dfd0b6396b83969ba8f38">__ARG_PLACEHOLDER_1</a>&#160;&#160;&#160;0,</td></tr>
<tr class="separator:a9d9f9ac6e60dfd0b6396b83969ba8f38"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a4ef5e3b250ca40bef05f9b05084a5011"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="kconfig_8h.html#a4ef5e3b250ca40bef05f9b05084a5011">config_enabled</a>(cfg)&#160;&#160;&#160;<a class="el" href="kconfig_8h.html#a9e4f8ef4d4a57c971759d96e19ce4685">_config_enabled</a>(cfg)</td></tr>
<tr class="separator:a4ef5e3b250ca40bef05f9b05084a5011"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a9e4f8ef4d4a57c971759d96e19ce4685"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="kconfig_8h.html#a9e4f8ef4d4a57c971759d96e19ce4685">_config_enabled</a>(value)&#160;&#160;&#160;<a class="el" href="kconfig_8h.html#a1ab4aa6ab0dd4de144241ef7524d2c89">__config_enabled</a>(__ARG_PLACEHOLDER_##value)</td></tr>
<tr class="separator:a9e4f8ef4d4a57c971759d96e19ce4685"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a1ab4aa6ab0dd4de144241ef7524d2c89"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="kconfig_8h.html#a1ab4aa6ab0dd4de144241ef7524d2c89">__config_enabled</a>(arg1_or_junk)&#160;&#160;&#160;<a class="el" href="kconfig_8h.html#aaf258f318f4aa54c0ca10b569d15696a">___config_enabled</a>(arg1_or_junk 1, 0)</td></tr>
<tr class="separator:a1ab4aa6ab0dd4de144241ef7524d2c89"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:aaf258f318f4aa54c0ca10b569d15696a"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="kconfig_8h.html#aaf258f318f4aa54c0ca10b569d15696a">___config_enabled</a>(__ignored,  val, ...)&#160;&#160;&#160;val</td></tr>
<tr class="separator:aaf258f318f4aa54c0ca10b569d15696a"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a43b9d76488f716ceeab1dd36fb631587"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="kconfig_8h.html#a43b9d76488f716ceeab1dd36fb631587">IS_BUILTIN</a>(option)&#160;&#160;&#160;<a class="el" href="kconfig_8h.html#a4ef5e3b250ca40bef05f9b05084a5011">config_enabled</a>(option)</td></tr>
<tr class="separator:a43b9d76488f716ceeab1dd36fb631587"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2ba4e9c7473b52be573e3a3b2383d7cf"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="kconfig_8h.html#a2ba4e9c7473b52be573e3a3b2383d7cf">IS_MODULE</a>(option)&#160;&#160;&#160;<a class="el" href="kconfig_8h.html#a4ef5e3b250ca40bef05f9b05084a5011">config_enabled</a>(option##_MODULE)</td></tr>
<tr class="separator:a2ba4e9c7473b52be573e3a3b2383d7cf"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:ae192090bf9f944a0297c5f5840e24a19"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="kconfig_8h.html#ae192090bf9f944a0297c5f5840e24a19">IS_REACHABLE</a>(option)</td></tr>
<tr class="separator:ae192090bf9f944a0297c5f5840e24a19"><td class="memSeparator" colspan="2">&#160;</td></tr>
<tr class="memitem:a2e3f1f46acb8ff1339122bf2bc09d30c"><td class="memItemLeft" align="right" valign="top">#define&#160;</td><td class="memItemRight" valign="bottom"><a class="el" href="kconfig_8h.html#a2e3f1f46acb8ff1339122bf2bc09d30c">IS_ENABLED</a>(option)&#160;&#160;&#160;(<a class="el" href="kconfig_8h.html#a43b9d76488f716ceeab1dd36fb631587">IS_BUILTIN</a>(option) || <a class="el" href="kconfig_8h.html#a2ba4e9c7473b52be573e3a3b2383d7cf">IS_MODULE</a>(option))</td></tr>
<tr class="separator:a2e3f1f46acb8ff1339122bf2bc09d30c"><td class="memSeparator" colspan="2">&#160;</td></tr>
</table>
<h2 class="groupheader">Macro Definition Documentation</h2>
<a id="aaf258f318f4aa54c0ca10b569d15696a"></a>
<h2 class="memtitle"><span class="permalink"><a href="#aaf258f318f4aa54c0ca10b569d15696a">&#9670;&nbsp;</a></span>___config_enabled</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define ___config_enabled</td>
          <td>(</td>
          <td class="paramtype">&#160;</td>
          <td class="paramname">__ignored, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">&#160;</td>
          <td class="paramname">val, </td>
        </tr>
        <tr>
          <td class="paramkey"></td>
          <td></td>
          <td class="paramtype">&#160;</td>
          <td class="paramname"><em>...</em>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>)</td>
          <td></td><td>&#160;&#160;&#160;val</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9d9f9ac6e60dfd0b6396b83969ba8f38"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9d9f9ac6e60dfd0b6396b83969ba8f38">&#9670;&nbsp;</a></span>__ARG_PLACEHOLDER_1</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define __ARG_PLACEHOLDER_1&#160;&#160;&#160;0,</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a1ab4aa6ab0dd4de144241ef7524d2c89"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a1ab4aa6ab0dd4de144241ef7524d2c89">&#9670;&nbsp;</a></span>__config_enabled</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define __config_enabled</td>
          <td>(</td>
          <td class="paramtype">&#160;</td>
          <td class="paramname">arg1_or_junk</td><td>)</td>
          <td>&#160;&#160;&#160;<a class="el" href="kconfig_8h.html#aaf258f318f4aa54c0ca10b569d15696a">___config_enabled</a>(arg1_or_junk 1, 0)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a9e4f8ef4d4a57c971759d96e19ce4685"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a9e4f8ef4d4a57c971759d96e19ce4685">&#9670;&nbsp;</a></span>_config_enabled</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define _config_enabled</td>
          <td>(</td>
          <td class="paramtype">&#160;</td>
          <td class="paramname">value</td><td>)</td>
          <td>&#160;&#160;&#160;<a class="el" href="kconfig_8h.html#a1ab4aa6ab0dd4de144241ef7524d2c89">__config_enabled</a>(__ARG_PLACEHOLDER_##value)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a4ef5e3b250ca40bef05f9b05084a5011"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a4ef5e3b250ca40bef05f9b05084a5011">&#9670;&nbsp;</a></span>config_enabled</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define config_enabled</td>
          <td>(</td>
          <td class="paramtype">&#160;</td>
          <td class="paramname">cfg</td><td>)</td>
          <td>&#160;&#160;&#160;<a class="el" href="kconfig_8h.html#a9e4f8ef4d4a57c971759d96e19ce4685">_config_enabled</a>(cfg)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a43b9d76488f716ceeab1dd36fb631587"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a43b9d76488f716ceeab1dd36fb631587">&#9670;&nbsp;</a></span>IS_BUILTIN</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define IS_BUILTIN</td>
          <td>(</td>
          <td class="paramtype">&#160;</td>
          <td class="paramname">option</td><td>)</td>
          <td>&#160;&#160;&#160;<a class="el" href="kconfig_8h.html#a4ef5e3b250ca40bef05f9b05084a5011">config_enabled</a>(option)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2e3f1f46acb8ff1339122bf2bc09d30c"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2e3f1f46acb8ff1339122bf2bc09d30c">&#9670;&nbsp;</a></span>IS_ENABLED</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define IS_ENABLED</td>
          <td>(</td>
          <td class="paramtype">&#160;</td>
          <td class="paramname">option</td><td>)</td>
          <td>&#160;&#160;&#160;(<a class="el" href="kconfig_8h.html#a43b9d76488f716ceeab1dd36fb631587">IS_BUILTIN</a>(option) || <a class="el" href="kconfig_8h.html#a2ba4e9c7473b52be573e3a3b2383d7cf">IS_MODULE</a>(option))</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="a2ba4e9c7473b52be573e3a3b2383d7cf"></a>
<h2 class="memtitle"><span class="permalink"><a href="#a2ba4e9c7473b52be573e3a3b2383d7cf">&#9670;&nbsp;</a></span>IS_MODULE</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define IS_MODULE</td>
          <td>(</td>
          <td class="paramtype">&#160;</td>
          <td class="paramname">option</td><td>)</td>
          <td>&#160;&#160;&#160;<a class="el" href="kconfig_8h.html#a4ef5e3b250ca40bef05f9b05084a5011">config_enabled</a>(option##_MODULE)</td>
        </tr>
      </table>
</div><div class="memdoc">

</div>
</div>
<a id="ae192090bf9f944a0297c5f5840e24a19"></a>
<h2 class="memtitle"><span class="permalink"><a href="#ae192090bf9f944a0297c5f5840e24a19">&#9670;&nbsp;</a></span>IS_REACHABLE</h2>

<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">#define IS_REACHABLE</td>
          <td>(</td>
          <td class="paramtype">&#160;</td>
          <td class="paramname">option</td><td>)</td>
          <td></td>
        </tr>
      </table>
</div><div class="memdoc">
<b>Value:</b><div class="fragment"><div class="line">(<a class="code" href="kconfig_8h.html#a4ef5e3b250ca40bef05f9b05084a5011">config_enabled</a>(option) || \</div><div class="line">                 (<a class="code" href="kconfig_8h.html#a4ef5e3b250ca40bef05f9b05084a5011">config_enabled</a>(option##_MODULE) &amp;&amp; <a class="code" href="kconfig_8h.html#a4ef5e3b250ca40bef05f9b05084a5011">config_enabled</a>(MODULE)))</div><div class="ttc" id="kconfig_8h_html_a4ef5e3b250ca40bef05f9b05084a5011"><div class="ttname"><a href="kconfig_8h.html#a4ef5e3b250ca40bef05f9b05084a5011">config_enabled</a></div><div class="ttdeci">#define config_enabled(cfg)</div><div class="ttdef"><b>Definition:</b> kconfig.h:20</div></div>
</div><!-- fragment -->
</div>
</div>
</div><!-- contents -->
</div><!-- doc-content -->
<!-- start footer part -->
<div id="nav-path" class="navpath"><!-- id is needed for treeview function! -->
  <ul>
    <li class="navelem"><a class="el" href="dir_1284b95147afa48b330f502c8bbc0529.html">driver</a></li><li class="navelem"><a class="el" href="dir_503d9bcc45879383b08c0a7ee967393c.html">include</a></li><li class="navelem"><a class="el" href="kconfig_8h.html">kconfig.h</a></li>
    <li class="footer">Generated on Sun Oct 28 2018 21:44:12 for Hardware Abstraction Layer for FreeRTOS by
    <a href="http://www.doxygen.org/index.html">
    <img class="footer" src="doxygen.png" alt="doxygen"/></a> 1.8.13 </li>
  </ul>
</div>
</body>
</html>
